* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

.featured {  
    background:linear-gradient(
        to right,
        rgba(0, 0, 0, 0.6) 0%, 
        rgba(0, 0, 0, 0) 100%
    ),
    url(../img/featured-main.png);
    max-width: 100%;
    max-height: 90vh;
    display: column;
    
}

.main-nav-left {
    padding-left: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 60px;
    margin-left: 0;
}

.netflix-logo {
    color: red;
    font-size: 30px;
    font-weight: bold;
}

.nav-links {
    margin-left: 3rem;
}

.nav-links a {
    color: white;
    padding-right: 1rem;
}

.featured-description {
    color: #ffffff;
    padding-top: 3.5rem;
    padding-left: 3rem;
    height: 800px;
    width: 40%;
    justify-content: center;
    align-items: center;
}

.featured-description h1 {
    font-size: 5rem;
    font-family: sans-serif;
    font-weight: lighter;
}

.featured-description h2 {
    margin: 1rem 0rem;
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: 600;
}

.featured-description p {
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 500;
}

.featured-buttons {
    margin: 1.5rem 0;
}

.featured-buttons button {
    padding: 0.8rem 2rem;
    border-style: none;
    border-radius: 0.3rem;
    font-weight: bold;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    transition: .3s ease all;
}

.featured-play {
    background-color:rgba(255,255,255, 1);
}

.featured-play:hover {
    background-color:rgba(255,255,255, 0.5);
}

.featured-info {
    background-color:rgba(105,97,90,0.2);
    color: #ffffff;
    margin-left: 0.5rem;
}

.featured-info:hover {
    background-color:rgba(100,100,100,0.1);
}

i {
    padding-right: 0.5rem;
}

.slider {
    color: white;
    background-color: black;
}

.continue-watching {
    display: flex;
    overflow-x: scroll;
    /*scroll-snap-type: x mandatory;*/
}

.continue-watching img {
    max-width: 100%;
    max-height: 100%;
}

.item {
    padding: 0 0.2rem;
    flex: none;
    width: 15%;
    height: 350px;
    /*
    scroll-snap-align: start;
    scroll-behavior: smooth;
    */
}

/*.item:hover {
    transform: scale(1.2);
}
*/